.custom-button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  background-color: #f80;
  border-color: #f80;
  border: 1px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  padding: 9px 19px;
  border-width: 1px;
}
.custom-button:hover {
  color: #fff;
  background-color: #ffb057;
  border-color: #ffb057;
}
.custom-button:active {
  color: #fff;
  background-color: #e56700;
  border-color: #e56700;
}
.custom-button-green {
  height: 38px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  font-weight: 700;
  background-color: #12a154;
  border: 1px solid #12a154;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1;
  padding: 8px 16px;
}
.custom-button-green:hover {
  background-color: #26c06e;
  border: 1px solid #26c06e;
}
.custom-button-green:active {
  color: #fff;
  background-color: #108446;
  border-color: #108446;
}
