.home-page-wrapper {
  background-image: url(https://static.chotot.com/storage/banner/theming_vinfast.jpg);
  height: 100%;
  .carousel {
    max-width: 960px;
    margin: 0 auto 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 12px;
    background-color: #fff;
    .slick-slide {
      height: 234px;
      img {
        border-radius: 4px;
      }
    }
    .slick-dots {
      bottom: 0px;
      .slick-active {
        button::before {
          font-size: 9px;
          color: #f80;
          opacity: 1;
        }
      }
    }
  }
  .vehicle {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    background-color: #fff;
    margin: 0 auto 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    .title {
      color: #222;
      font-size: 16px;
      padding: 12px 12px 9px;
      border-bottom: 1px solid #f4f4f4;
      font-weight: 700;
    }
    .slide {
      display: flex;
      color: #222;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      overflow-x: auto;
      background-color: #fff;
      padding: 12px 0;
      .wrap-item:first-child {
        opacity: 1 !important;
        cursor: pointer !important;
      }
      .wrap-item {
        opacity: 0.5;
        cursor: not-allowed;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
        .item:first-child {
          cursor: pointer !important;
        }
        .item {
          cursor: not-allowed !important;

          transition: all 0.3s ease;
          width: 52px;
          height: 52px;
          display: flex;
          margin: 0 auto 4px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          background-color: #f4f4f4;
          display: flex;
          flex-direction: column;
          text-align: center;
          text-wrap: nowrap;
          // gap: 10px;
        }
        .item:hover {
          cursor: not-allowed !important;
        }
        .item:first-child:hover {
          background-color: #fecc00;
          transition: all 0.3s linear;
        }
      }
    }
  }
  .recommend {
    display: flex;
    max-width: 960px;
    margin: 0 auto 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    .top {
      font-weight: 700;
      background: #fff;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: #222;
      }
      .see-all {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 4px;
        color: rgb(56, 105, 159);
        font-size: 14px;
        font-weight: bold;
        .ant-image {
          align-items: center;
          display: flex;
        }
        line-height: 1.33;
      }
    }
    .slide-rec {
      padding-left: 3px;
      background: #fff;
      border-top: 1px solid #f4f4f4;
      .slick-disabled {
        display: none;
      }
      .slick-prev {
        z-index: 1;

        left: -15px;
      }
      .slick-next {
        right: -5px;
      }
      .slick-arrow {
        transition: all 0.2s ease;
        transform: none;
        bottom: 50%;
      }
      .slick-arrow:hover {
        transform: scale(1.5) !important;
      }
      .slick-prev::before,
      .slick-next::before {
        z-index: 1;
        color: rgb(24, 24, 24);
        opacity: 0.8;
        font-size: 28px;
      }
      .slick-track {
        margin-left: 0 !important;
        flex-wrap: nowrap;
        overflow: hidden;
        display: flex;
      }
      .rec-item:hover {
        box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
        z-index: 3;
      }
      .rec-item {
        justify-content: space-between;
        min-height: 337px;
        display: flex !important;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        background: #fff;
        border-right: 1px solid #f4f4f4;
        padding: 12px;
        img {
          object-fit: cover;
        }
        .title-rec {
          font-size: 17px !important;
          line-height: 1.43 !important;
          white-space: inherit;
          margin-top: 8px;
          text-overflow: ellipsis;
          font-weight: 500;
          color: #222;
        }
        .price {
          font-size: 15px;
          font-weight: 700;
          line-height: 1.33;
          color: #d0021b;
          display: inline-block;
          margin: 2px 4px 0 0;
        }
        .bottom-rec {
          width: 100%;
          .ellipsis {
            color: #9b9b9b;
            display: flex;
            max-width: 160px;
            align-items: center;
            white-space: nowrap;
            span:last-child {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          span {
            font-size: 11px;
            margin-top: 2px;
          }
          .dot {
            color: #9b9b9b;
            display: inline-block;
          }
          .dot::after {
            content: "·";
            display: inline-block;
          }
          align-items: center;
          text-overflow: ellipsis;
          display: flex;
        }
        .infor-rec {
          width: 175px;
          .dash {
          }
          display: flex;
          font-size: 14px;
          gap: 5px;
          line-height: 1.43;
          align-items: center;
          color: #9b9b9b;
          margin-top: 2px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .intro {
    margin: 0 auto;
    overflow: hidden;
    max-width: 960px;
    padding: 32px 12px 12px;
    .title {
      font-weight: 700;
      font-size: 20px;
    }
    .text {
      margin-top: 15px;
      font-size: 13px;
      line-height: 20px;
      max-height: 310px;
      overflow: hidden;
    }
    .show-text {
      max-height: 100%;
    }
    .show-more {
      display: block;
      font-size: 13px;
      font-weight: normal;
      cursor: pointer;
      color: #38699f;
      text-align: center;
    }
  }
}
