@import "antd/dist/reset.css";

@import "./pages/index.scss";
@import "./components/index.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
body {
  margin: 0px;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
.ant-alert {
  pointer-events: none;
  z-index: 222222;
  opacity: 0;
  left: 50%;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 5%;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 619px;
  max-width: 636px;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 20px;
  background-color: #222;
  color: #fff;
  border: none;
}
.show-alert {
  opacity: 0.8;
}
.ant-pagination {
  .ant-pagination-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    span {
      font-size: 15px;
    }
  }
  .ant-pagination-item-active {
    background-color: #ffba00;
    a {
      font-size: 15px;
      color: #000 !important;
    }
    border: 1px solid #ffd100;
    border-radius: 4px;
  }
  .ant-pagination-item-active:hover {
    border: 1px solid #ffd100;
  }
  .ant-pagination-item-link {
    border-radius: 3px !important;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    span {
      font-size: 13px;

      color: #000 !important;
    }
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}
.ant-breadcrumb-link {
  cursor: pointer;
}
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0.275rem;
  height: 0.125rem;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  cursor: pointer;

  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a2a2;
}
.Mui-focused {
  background-color: white !important;
  color: #8c8c8c !important;
}

.MuiFormLabel-root {
  background-color: white !important;
  color: #8c8c8c;
  line-height: normal !important;
}
.css-phksla-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: transparent !important;
}
.input-need-to-custom .MuiInputBase-root {
  position: relative;
  height: 48px;
  white-space: nowrap;
}
.input-need-to-custom svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.MuiInputBase-root {
  border-radius: 4px;
  border: 1px solid silver;
  background-color: white !important;
}
.css-fvipm8 {
  border: none !important;
}
.Mui-focused {
}
.css-1ct370e {
  height: 56px !important;
}
.css-qiwgdb {
  text-align: left;
}
.css-1ct370e::after {
  border: none !important;
}
.css-1ct370e::before {
  border: none !important;
}
.css-phksla-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: none !important;
}
.input-need-to-custom .MuiInputBase-input {
  overflow-wrap: normal !important;
  height: 20.5px !important;
  white-space: nowrap !important;
}
.MuiInputBase-input {
  color: black !important;
}
.css-7209ej-MuiInputBase-input-MuiFilledInput-input.Mui-disabled {
  color: black !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
}
.MuiPaper-root {
  ul {
    max-height: 200px !important;
  }
  max-height: 200px !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  .MuiOutlinedInput-notchedOutline {
  }
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f80 !important;
}
.css-fvipm8.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid silver !important;
}
.css-fvipm8:hover .MuiOutlinedInput-notchedOutline {
  border: 1px solid silver !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  top: 20px !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(14px, 7px) scale(0.75) !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  text-align: left;
  padding-top: 23px;
  padding-bottom: 0px;
}
